*{
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
   }
header{
		background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('C:/Users/Aniket Gadekar/Pictures/Saved Pictures/logo7.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
        height: 100vh;
    }